body{
    margin: 0;
}

input{
    font-family: nova;
}

.items_wine{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.pay{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 50%;
    border-radius: 3px;
    background-color: white;
    display: none;
}

.pay iframe{
    padding-left: 35px;
    width: 100%;
    height: 41vh;
    border: 0;
}

.info_event_admin{
    position: absolute;
    width: 50%;
    height: 60vh;
    background-color: rgb(241,241,241);
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow:  0px 5px 10px 0px rgba(0,0,0,0.3);
    display: none;
}

.icon-Descargar[file='true']{
    font-weight: bold;
    color: rgb(139,197,129);
    cursor: pointer;
}

.icon-Descargar[file='false']{
    color: rgba(0,0,0,0.4);
    cursor:default;
}

.info_event_admin nav{
    padding: 30px;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}

.menu_billing{
    width: 12%;
    background-color: rgb(241,241,241);
    position: absolute;
    margin-left: 15px;
    margin-top: -10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    display: none;
}

.menu_billing td div{
    padding: 10px;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 20px;
    height: 15px;
    margin-top: -15px;
}

.menu_billing td{
    text-align: left;
    cursor: pointer;
    border-radius: 30px;
}

.menu_billing table{
    margin-left: 20px;
}

.menu_balance{
    width: 12%;
    background-color: rgb(241,241,241);
    position: absolute;
    margin-left: 15px;
    margin-top: -10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    display: none;
}

.menu_balance td div{
    padding: 10px;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 20px;
    height: 15px;
    margin-top: -15px;
}

.menu_balance td{
    text-align: left;
    cursor: pointer;
    border-radius: 30px;
}

.menu_balance table{
    margin-left: 20px;
}

.paid:hover{
    background-color: rgb(139,197,129);
    color:white;
}

.sub:hover{
    background-color: rgb(247,141,40);
    color:white;
}

.unpaid:hover{
    background-color: rgb(235,83,84);
    color:white;
}

.biling_state{
    background-color: rgb(247,141,40);
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}

.biling_state p{
    text-align: center;
    color: white;
    padding: 10px;
}

.info_more{
    display: none;
}

.table1.subtable.event{
    width: 110%;
    margin-left: 20px;
}

.table1.subtable.event td{
    padding: 5px;
}

.events_user{
    width: 98%;
    height: 21vh;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    overflow-y: scroll;
    overflow-x: hidden;
}

.events_user nav{
    padding-top: 1px;
    text-align: left;
    width: 95%;
    margin: 0 auto;
}

.table1.subtable{
    margin-left: 6.1%;
    width: 100%;
    border-collapse: collapse;
}

.table1.subtable td{
    text-align: left;
    padding: 0;
}

.user_more_info{
    height: 35vh;
    width: 100%;
    background-color: rgb(241,241,241);
    border-bottom: 4px solid rgba(0,0,0,0.4);
}

.loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.6);
    z-index: 10;
}

.pop{
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    right: 0;
    margin-right: 38px;
    margin-top: 35px;
    z-index: 20;
    display: none;
}

.pop p{
    color: white;
    margin: 0 auto;
    margin-left: 2px;
    padding: 7px;
    margin-top: -1px;
}

.loader img{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

::selection{
    background: transparent;
}

.requerido{
    color:rgb(235,83,84);
}

#menu_user{
    display: none;
    width: 12%;
    position: absolute;
    margin: auto;
    right: 50px;
    top: 80px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.2);
    background-color: rgb(248,248,248);
}

#menu_user section{
    display: inline-block;
}

#menu_user ul{
    list-style: none;
    font-family: nova;
    line-height: 30px;
}

#menu_user li:hover{
    cursor: pointer;
}


.checkbox input{
    visibility: hidden;
    position: absolute;
    right: 0;
}

.checkbox i{
    font-size: 18px;
    padding-left: 2.5px;
    padding-top: 1px;
    color: rgb(247,141,40);
    visibility: hidden;
    margin-top: 1px;
}

input[type="checkbox"]:checked + i{
    visibility: visible;
}

.checkbox{
    border: 2.5px solid rgb(247,141,40);
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: scale(1.2);
    margin-top: -20px;
    background-color: white;
}

.profile{
    font-family: nova;
    width: 100%;
    padding: 35px;
}

.profile td{
    padding-bottom: 20px;
}

.textEvents{
    font-size: 15px;
    position: absolute;
    margin-top: 20px;
}

.sombra{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}

.sombra2{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.card_pay{
    width: 20%;
    background-color: rgb(241,241,241);
    float: left;
    margin-left: 20px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.2);
    border-bottom: 4px solid rgb(247,141,40); 
}

.card_pay.more{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    background-color: white;
    cursor: pointer;
    border-style: dotted;
    border-width: 2px;
    border-color: rgb(247,141,40);
    transition: 0.09s all ease;
}

.card_pay.more h2{
    text-align: center;
    padding-top: 29%;
}

.card_pay.more:hover{
    transform: scale(1.02);
}

.card_pay nav{
    position: relative;
    width: 88%;
    height: 21vh;
    margin: 0 auto;
    margin-top: 20px;
}

.confirm{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 50%;
    border-radius: 3px;
    background-color: white;
    display: none;
}

.confirm nav{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 85%;
    height: 80%;
    text-align: center;
}

.confirm i{
    font-size: 150px;
}

.alert{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 50%;
    border-radius: 3px;
    background-color: white;
    display: none;
}

.alert2{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 50%;
    border-radius: 3px;
    background-color: white;
}

.alert nav{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 85%;
    height: 80%;
    text-align: center;
}

.alert2 nav{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 85%;
    height: 80%;
    text-align: center;
}

.alert i{
    font-size: 150px;
}

.alert2 i{
    font-size: 150px;
}

#CalendarioWeb{
    transform: scale(0.8);
    font-family: nova;
    height: 20vh;
    max-width: 900px;
    margin: 0 auto;
}

#CalendarioWeb td{
   line-height: 30px;
}

@font-face{
    font-family: nova;
    src: url('../font/NovaFont.otf');
}

@font-face{
    font-family: nova-ligth;
    src: url('../font/ProximaNovaAltLight.otf');
}

.icon-close.admin{
    display:inline;
    cursor: pointer;
}

.box-tag[purple="true"] label{
    color: #440099;
    font-weight: bold;
}

.box-tag[purple="false"] label{
    color: black;
}

.box-tag[purple="disabled"] label{
    color: rgba(0,0,0,0.3);
}

.box-tag{
    background-color: rgb(241,241,241);
    padding: 10px;
    display: inline-block;
    margin-top: 12px;
    width: fit-content;
}

.box-tag i{
    display: none;
}

.box-tag_d{
    background-color: rgb(241,241,241);
    padding: 10px;
    display: inline-block;
    margin-top: 12px;
    width: fit-content;
}

.box-tag_d i{
    padding-left: 20px;
}

.box-tag i{
    padding-left: 20px;
}

.nota{
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    background-color: rgb(241,241,241);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.2);
    display: inline-block;
}

.camp_text{
    margin-top: 10px;
    width: 99.2%;
    height: 40px;
    background-color: rgb(241,241,241);
    border: 0;
    border-bottom: 4px solid rgb(247,141,40);
    font-size: 19px;
    text-indent: 10px;
}

#edit{
    position: absolute;
    font-size: 30px;
    padding-top: 15px;
    padding-right: 35px;
    margin: auto;
    right: 0;
    cursor: pointer;
    transition: 0.5 all ease;
}


.input_text2 label{
    font-family: nova;
    font-weight: 600;
}

.input_text2 input{
    margin-top: 10px;
    width: 99.2%;
    height: 40px;
    background-color: rgb(241,241,241);
    border: 0;
    border-bottom: 4px solid rgb(247,141,40);
    font-size: 19px;
    text-indent: 10px;
}

.input_text2 select{
    margin-top: 10px;
    width: 99.2%;
    height: 40px;
    background-color: rgb(241,241,241);
    border: 0;
    border-bottom: 4px solid rgb(247,141,40);
    font-size: 19px;
    text-indent: 10px;
    font-family: nova;
}



h1{
    font-family: nova;
    font-size: 45px;
    margin: 0;
}

p{
    font-family: nova;
    text-align: justify;
    font-weight: 500;
}

h2,h3{
    font-family: nova;
    margin: 0;
}

h5,h4,h6{
    font-family: nova-ligth;
}

th{
    font-family: nova;
    font-size: 13px;
    padding-bottom: 10px;
}

.btn_2{
    width: 130px;
    height: 25px;
    background-color: rgb(241,241,241);
    padding: 12px;
    cursor: pointer;
}

.btn_2[state="enabled"]{
    background-color: rgb(247,141,40);
    color:white;
}

.btn_2:hover{
    filter: brightness(0.9);
}

.btn_2 i{
    font-size: 20px;
    padding-right: 20px;
}

.btn_2 table{
    margin-top: -20px;
    margin-left: 10px;
}

.left{
    float: left;
    width: 50%;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    z-index: 2;
    position: absolute;
}

.left.master{
    width: 7%;
    background: #F1F1F1;
}

.rigth.master{
    width: 92%;
    background-image: none;
}

.left.registro{
    float: left;
    width: 50%;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    z-index: 2;
    position: absolute;
}

.left.home_user{
    width: 20%;
    box-shadow: 0 0 0 0;
    height: 90vh;
    margin-top: 70px;
}

.left.home_user table{
    margin-top: -20px;
}

.rigth.home_user{
    background-image: none;
    float: right;
    width: 79%;
    height: 100vh;
}



.rigth{
    float: right;
    width: 50%;
    height: 100vh;
    background-image: url(../img/fondo_1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.rigth.registro{
    float: right;
    width: 50%;
    height: 100vh;
    background-image: url(../img/fondo_2.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.logo{
    padding: 80px;
}

.logo.registro{
    float: right;
}

.logo_master{
    width: 60%;
    padding: 20%;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

#head_master{
    width: 94%;
    padding: 2.68%;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

#head_master table{
    margin-top: -30px;
    position: absolute;
    right: 30px;
}

#head_master td{
    padding-right: 20px;
}

.down_arrow.up{
    transform: rotate(180deg);
}

.down_arrow.up:hover{
    transform: scale(1.3) rotate(180deg);
}

.down_arrow{
    cursor:pointer;
    transition: 0.1s all ease;
}

.down_arrow:hover{
    transform: scale(1.3);
}


.info_login{
    width: 60%;
    height: 60vh;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.info_login.registro{
    width: 60%;
    height: 80vh;
    position: absolute;
    margin: auto;
    top: -250px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(78%);
}

.input_text{
    width: 100%;
    height: 60px;
    border: 1px solid rgba(0,0,0,0.4);
}

.input_text label{
    margin-left: 40px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    margin-top: -10px;
    font-family: nova-ligth;
    letter-spacing: 2px;
}

.input_text i{
    font-size: 25px;
    float: right;
    padding: 20px;
    color: rgba(0,0,0,0.5);
}

.input_text .text{
    font-size: 20px;
    margin-left: 10px;
    border: 0; 
    margin-top: 18px;
    width: 75%;
    font-family: nova-ligth;
}

.btn{
    width: 100%;
    font-size: 20px;
    color:white;
    background-color: rgb(247,141,40);
    border: 0;
    height: 70px;
    letter-spacing: 4px;
    font-family: nova;
    cursor: pointer;
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.5);
}

.btn:hover{
    filter:brightness(1.1);
}

input:focus{
    outline: 0;
}

label{
    font-family: nova;
}

a{
    font-family: nova-ligth;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: rgb(247,141,40);
}

a:hover{
    border-bottom: 0px solid blue;
    color: rgb(247,141,40);
}

a.live_rigth{
    float: right;
}

#data{
    border: 0;
    margin-top: 15px;
    width: 99.9%;
    height: 85vh;
}

#total_info{
    width: 92%;
    margin: 0 auto;
}

#desplegar{
    width: 113%;
    height: 50px;
    position: absolute;
    margin-top: 60%;
}

#desplegar i{
 font-size: 100px;   
 float: right;
 cursor: pointer;
 transition: 0.1s all ease;
}

.item[active="false"]{
    width: 99%;
    height: 60px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}

.item[active="false"] i{
    font-size: 200%;
    padding: 15px;
    color: rgba(0,0,0,0.5);
     position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.item[active="true"]{
    width: 99%;
    height: 60px;
    margin-top: 30px;
    text-align: center;
    border-right: 2px solid rgb(247,141,40);
    cursor: pointer;
}

.item[active="true"] i{
    font-size: 200%;
    padding: 15px;
    color: rgb(247,141,40);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}


.item:hover{
    border-right: 2px solid rgb(247,141,40);
}

.item:hover i{
    color: rgb(247,141,40);
}

/*Estilos home user*/

.calendario_1{
    width: 80%;
    height: auto;
    padding-bottom: 80px;
    background-color: rgb(248,248,248);
    border-bottom: 5px solid rgb(247,141,40);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.16);
    position: relative;
}

.content.home_user{
    width: 99%;
    height: 100px;
    margin: 0 auto;
}

.point{
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

.point.green{
    background-color: rgb(0,255,117);
}

.point.orange{
    background-color: rgb(247,141,40);
}

.point.red{
    background-color: rgb(255,0,0);
}

.point.gray{
    background-color: rgb(100, 100, 100);
}

#inside_calendario{
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    margin-top: 10px;
    height: 235px;
    width: 90%;
}

#inside_calendario table{
    width: 100%;
    border-collapse: collapse;
}

#inside_calendario td{
    border: 1px solid rgba(0,0,0,0.1);
    width: 35px;
    height: 33px;
    font-family: nova;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#inside_calendario td[estado='day']{
    background-color: rgb(247,141,40);
    color:white;
}

#inside_calendario td[estado='out']{
  color: rgba(0,0,0,0.2); 
} 

.programa{
    width: 100%;
    height: 99vh;
}


.calendario_2 .table1{
    width: 100%;
    border-collapse: collapse;
}

.table1.title{
    border-bottom: 5px solid rgb(247,141,40);
}

.table1.title th{
    width: 14%;
}

.contenido_listas{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20px;
    min-height: 65vh;
}

.table_listas{
    width: 100%;
    font-family: nova;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
}

.table_listas td{
    width: 14%;
    padding-bottom: 20px;
}

.calendario_2 thead{
    background-color: rgb(241,241,241);
    height: 60px;
    
}

.calendario_2 th{
    font-size: 15px;
    font-family: nova-ligth;
}

.calendario_2 .table2{
    width: 100%;
    border-spacing: 10px;
    border-bottom: 5px solid rgb(247,141,40);
    z-index: 0;
}

.table2 i{
    font-size: 20px;
    position: absolute;
    margin-left: 7%;
}

.calendario_2 .table2 td{
    box-shadow: 0px 5px 7px 1px rgba(0,0,0,0.4);
    font-family: nova-ligth;
    padding: 10px;
    height: 7vh;
    background-color: white;
    font-size: 12px;
    vertical-align: top;
}

.calendario_2 .table2 td[estado="past"]{
    background-color: rgb(132, 133, 132);
    color:white;
    filter: opacity(0.5);
}

.calendario_2 .table2 td[estado="green"]{
    background-color: rgb(139,197,129);
    color:white;
}

.calendario_2 .table2 td[estado="red"]{
    background-color: rgb(235,83,84);
    color:white;
}

.calendario_2 .table2 td[estado="out"]{
    background-color: rgb(206, 203, 203);
    filter: opacity(0.5); 
}

.btn.home_user{
    float: right;
    width: 30%;
    margin-top: 115px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    
}

.btn[active="false"]{
    background-color: white;
    color: black;
    font-family: nova-ligth;
    border: 2px solid rgb(247,141,40);
    box-shadow: 0 0 0 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(247,141,40);
}

#check1{
    visibility: hidden;
    width: 10px;
}

.input-check{
    border: 2.8px solid rgb(247,141,40);
    padding: 6px;
    background-color: white;
    cursor: pointer;
}


#list_events{
    overflow-y: scroll; 
    height: 25vh;
    width: 80%;
}

/*Estilos create event*/


.info_event{
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.title{
    border-bottom: 10px solid rgb(247,141,40);
    width: 60%;
    padding-bottom: 20px;
}

.data_event{
    width: 45%;
    height: 43vh;
    margin-top: 20px;
}

.info_new{
    width: 48%;
    position: absolute;
    height: 43vh;
    margin: auto;
    right: 0;
    margin-top: -46vh;
}

.data_event .btn{
    float: right;
    width: 60%;
    margin-top: 30px;
}

.left.event{
    box-shadow: 0 0 0 0;
    height: auto;
}

.rigth.event{
    height: auto;
    background-image: none;
    width: 48%;
}

.slide{
    width: 85%;
    margin: 0 auto;
    height: 18px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

.in_slide{
    width: 20%;
    height: 17px;
    border-radius: 10px;
    background: linear-gradient(90deg,rgb(247,141,40),rgba(0,0,0,0));
}

.head-progress{
    width: 100%;
    background-color: rgb(241,241,241);
    height: 60px;
    margin-top: 45px;
    border-collapse: collapse;
}

.head-progress th{
    padding-top: 12px;
}

.head-progress th[active="true"]{
    color: rgb(247,141,40);
    border-bottom: 5px solid rgb(247,141,40);
}

.head-progress th[active="false"]{
    color: rgb(0,0,0);
    border-bottom: 5px solid rgb(0,0,0,0.2);
}

.head-progress.second{
    position: absolute;
    width: 97.8%;
    margin: auto;
    left: 0;
    right: 0;
    background-color: rgb(247,141,40);
    height: 60px;
    margin-top: -20px;
    border-collapse: collapse;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}

.head-progress.second th{
    padding-top: 12px;
    width: 25%;
}

.head-progress.second th[active="true"]{
    color: white;
    border-bottom: 5px solid white;
}

.head-progress.second th[active="false"]{
    color: white;
    border-bottom: 5px solid rgb(0,0,0,0.2);
}

