@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?c6d90p');
  src:  url('../icons/icomoon.eot?c6d90p#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?c6d90p') format('truetype'),
    url('../icons/icomoon.woff?c6d90p') format('woff'),
    url('../icons/icomoon.svg?c6d90p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Address:before {
  content: "\e900";
}
.icon-alert:before {
  content: "\e901";
}
.icon-american-express .path1:before {
  content: "\e902";
  color: rgb(50, 171, 245);
}
.icon-american-express .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(38, 144, 223);
}
.icon-american-express .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-american-express .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(8, 114, 193);
}
.icon-american-express .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(48, 170, 245);
}
.icon-american-express .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(8, 114, 193);
}
.icon-american-express .path7:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path8:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path9:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(86, 170, 227);
}
.icon-american-express .path10:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path11:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path12:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(86, 170, 227);
}
.icon-american-express .path13:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path14:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path15:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path16:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-american-express .path17:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path18:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-american-express .path19:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(251, 252, 254);
}
.icon-american-express .path20:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-american-express .path21:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(250, 252, 253);
}
.icon-american-express .path22:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(249, 251, 253);
}
.icon-american-express .path23:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(253, 253, 254);
}
.icon-american-express .path24:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(253, 253, 254);
}
.icon-american-express .path25:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path26:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path27:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path28:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(251, 252, 254);
}
.icon-american-express .path29:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(248, 251, 253);
}
.icon-american-express .path30:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(251, 252, 254);
}
.icon-american-express .path31:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(250, 252, 253);
}
.icon-american-express .path32:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(250, 252, 253);
}
.icon-american-express .path33:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path34:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path35:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-american-express .path36:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(11, 118, 198);
}
.icon-american-express .path37:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-american-express .path38:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-american-express .path39:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(51, 172, 246);
}
.icon-american-express .path40:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(38, 144, 223);
}
.icon-american-express .path41:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(38, 144, 223);
}
.icon-american-express .path42:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(51, 172, 246);
}
.icon-american-express .path43:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-american-express .path44:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-american-express .path45:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(37, 144, 223);
}
.icon-Bandera:before {
  content: "\e92f";
}
.icon-Botn-More:before {
  content: "\e930";
}
.icon-Buscar:before {
  content: "\e931";
}
.icon-Calendar:before {
  content: "\e932";
}
.icon-Campana:before {
  content: "\e933";
}
.icon-check .path1:before {
  content: "\e934";
  color: rgb(246, 140, 40);
}
.icon-check .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-City:before {
  content: "\e936";
}
.icon-close:before {
  content: "\e937";
}
.icon-Company:before {
  content: "\e938";
}
.icon-Country:before {
  content: "\e939";
}
.icon-credit-card:before {
  content: "\e93a";
}
.icon-document-editor:before {
  content: "\e93b";
}
.icon-drink:before {
  content: "\e93c";
}
.icon-Eliminar:before {
  content: "\e93d";
}
.icon-Email:before {
  content: "\e93e";
}
.icon-Email2:before {
  content: "\e93f";
}
.icon-file:before {
  content: "\e940";
}
.icon-Guardar:before {
  content: "\e941";
}
.icon-home:before {
  content: "\e942";
}
.icon-info:before {
  content: "\e943";
}
.icon-invoice-1:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e945";
}
.icon-maestro .path1:before {
  content: "\e946";
  color: rgb(241, 240, 237);
}
.icon-maestro .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 151, 225);
}
.icon-maestro .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(237, 0, 5);
}
.icon-maestro .path4:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(23, 22, 20);
}
.icon-maestro .path5:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(23, 22, 20);
}
.icon-maestro .path6:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(23, 22, 20);
}
.icon-maestro .path7:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(23, 22, 20);
}
.icon-maestro .path8:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(23, 22, 20);
}
.icon-maestro .path9:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(23, 22, 20);
}
.icon-maestro .path10:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(23, 22, 20);
}
.icon-maestro .path11:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(108, 105, 190);
}
.icon-maestro .path12:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(97, 107, 187);
}
.icon-maestro .path13:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(97, 107, 187);
}
.icon-maestro .path14:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(236, 235, 231);
}
.icon-maestro .path15:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(238, 237, 233);
}
.icon-maestro .path16:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(237, 236, 232);
}
.icon-more:before {
  content: "\e956";
}
.icon-next .path1:before {
  content: "\e957";
  color: rgb(247, 149, 56);
}
.icon-next .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(250, 191, 135);
}
.icon-next .path3:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(251, 205, 162);
}
.icon-next .path4:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(246, 140, 40);
}
.icon-next .path5:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-Pagos-tarjeta-1:before {
  content: "\e95c";
}
.icon-Password-View:before {
  content: "\e95d";
}
.icon-Password:before {
  content: "\e95e";
}
.icon-Phone-Number:before {
  content: "\e95f";
}
.icon-planning:before {
  content: "\e960";
}
.icon-salida:before {
  content: "\e961";
}
.icon-settings:before {
  content: "\e962";
}
.icon-user-4:before {
  content: "\e963";
}
.icon-user .path1:before {
  content: "\e964";
  color: rgb(229, 235, 254);
}
.icon-user .path2:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(66, 147, 254);
}
.icon-user .path3:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(66, 147, 254);
}
.icon-user3-1 .path1:before {
  content: "\e967";
  color: rgb(51, 51, 51);
}
.icon-user3-1 .path2:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-user3-1 .path3:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(80, 80, 80);
}
.icon-user3-1 .path4:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(65, 65, 65);
}
.icon-user3-1 .path5:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(140, 140, 140);
}
.icon-user3-1 .path6:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(184, 184, 184);
}
.icon-user3-1 .path7:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(163, 163, 163);
}
.icon-user3-1 .path8:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-user3-1 .path9:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(161, 161, 161);
}
.icon-user3-1 .path10:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(180, 180, 180);
}
.icon-user3-1 .path11:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-visa .path1:before {
  content: "\e972";
  color: rgb(234, 127, 8);
}
.icon-visa .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(5, 18, 68);
}
.icon-visa .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(41, 54, 135);
}
.icon-visa .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(5, 18, 68);
}
.icon-visa .path5:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(41, 54, 135);
}
.icon-visa .path6:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(41, 54, 135);
}
.icon-visa .path7:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(5, 18, 68);
}
.icon-visa .path8:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(41, 54, 135);
}
.icon-visa .path9:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(246, 151, 29);
}
.icon-visa .path10:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(60, 88, 190);
}
.icon-visa .path11:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(5, 18, 68);
}
.icon-visa .path12:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(60, 88, 190);
}
.icon-visa .path13:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(61, 88, 190);
}
.icon-visa .path14:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(254, 188, 4);
}
.icon-visa .path15:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(60, 88, 190);
}
.icon-visa .path16:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(251, 192, 75);
}
.icon-visa .path17:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(252, 183, 20);
}
.icon-visa .path18:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(236, 123, 0);
}
.icon-Zip-Code:before {
  content: "\e984";
}
