@font-face {
  font-family: 'icomoon';
  src:  url('../icons2/icomoon.eot?rhodrn');
  src:  url('../icons2/icomoon.eot?rhodrn#iefix') format('embedded-opentype'),
    url('../icons2/icomoon.ttf?rhodrn') format('truetype'),
    url('../icons2/icomoon.woff?rhodrn') format('woff'),
    url('../icons2/icomoon.svg?rhodrn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Cargar-archivo-activo:before {
  content: "\e900";
  color: #f28c2a;
}
.icon-Cargar-archivo:before {
  content: "\e901";
}
.icon-Compartir-dropbox:before {
  content: "\e902";
}
.icon-Compartir-email:before {
  content: "\e903";
}
.icon-Compartir-google-drive:before {
  content: "\e904";
}
.icon-Descargar--Activo:before {
  content: "\e905";
  color: #f78d28;
}
.icon-Descargar:before {
  content: "\e906";
}
.icon-PDF:before {
  content: "\e907";
}
.icon-PDF-activo:before {
  content: "\e908";
  color: #f78d28;
}
